@font-face {
    font-family: 'Abel';
    src: url('../assets/fonts/Abel-Regular.eot');
    src: url('../assets/fonts/Abel-Regular.eot?#iefix')
            format('embedded-opentype'),
        url('../assets/fonts/Abel-Regular.woff') format('woff'),
        url('../assets/fonts/Abel-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Regular.eot');
    src: url('../assets/fonts/Poppins-Regular.eot?#iefix')
            format('embedded-opentype'),
        url('../assets/fonts/Poppins-Regular.woff') format('woff'),
        url('../assets/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Bold.eot');
    src: url('../assets/fonts/Poppins-Bold.eot?#iefix')
            format('embedded-opentype'),
        url('../assets/fonts/Poppins-Bold.woff') format('woff'),
        url('../assets/fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
